.slider-flechas{
	z-index: 5; height: 50px; font-size: 36px;
}
.socialnav {
  font-size: 50px;
  text-align: center;
  text-decoration: none;
	background-color: white;
	color: royalblue;
}

.fa:hover {
    opacity: 0.7;
		color: inherit;
}

.slide1{
	font-size: 30px;
	line-height: 1.3;
	font-weight: lighter;
	text-align: justify;
}
.slide1-2{
	background: rgba(254,238,0,1);
	background: -moz-linear-gradient(left, rgba(254,238,0,1) 0%, rgba(227,188,63,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(254,238,0,1)), color-stop(100%, rgba(227,188,63,1)));
	background: -webkit-linear-gradient(left, rgba(254,238,0,1) 0%, rgba(227,188,63,1) 100%);
	background: -o-linear-gradient(left, rgba(254,238,0,1) 0%, rgba(227,188,63,1) 100%);
	background: -ms-linear-gradient(left, rgba(254,238,0,1) 0%, rgba(227,188,63,1) 100%);
	background: linear-gradient(to right, rgba(254,238,0,1) 0%, rgba(227,188,63,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feee00', endColorstr='#e3bc3f', GradientType=1 );
	border-radius: 20px;
	height: 40px;
	text-align: center;
	text-shadow: 3px 2px 3px rgb(0,0,9);
	padding: 5px 0 10px 0;
}

.headerslider2{
	color:rgb(250, 206, 0);
}

.yellow-under{
	border-color:rgba(250, 206, 0,0.8);
	border-width: 8px;
	width: 60%;
	text-align: right;
	margin-left: 40%;
}

.yellow-separator{
	background-color:rgba(250, 206, 0,0.7); height:20px;width:100%;margin-bottom:20px;
}

.Contact{
	background-image: url('../img/contact.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	height: 700px;
	padding-top: 100px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: yellow;
	text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: yellow;
	text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: yellow;
	text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: yellow;
	text-align: center;
}
